.quatrecentquatre {
  background-image: url("https://res.cloudinary.com/dfnnpxhx9/image/upload/v1575532207/MEG/sparkler-677774_1920_cnvlwz.jpg");
  background-size: cover;
  height: 90vh;
  font-size: 60px;
  color: white;
}
