
.background {
    /* height: 800px; */
    background-color: #FEE;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}
.one-vetements {
    display: flex;
    align-items: center;
    /* border: 1px solid #455153; */
}

.text-vetement {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    text-align: start;
}
/* .item-vetement {
    padding: 20px;
} */

.one-vetement-image {
height: 400px;
}

.button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
  padding-bottom: 8px;
}